# ============ GUI ============
PyQt6>=6.6.0

# ============ HTTP CLIENT ============
requests>=2.31.0

# ============ UTIL ============
python-dotenv>=1.0.0
openpyxl>=3.1.0

# ============ DATA (untuk chart di client) ============
pandas>=2.0.0
matplotlib>=3.7.0